@use '../global.module.scss';

.fields {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  text-align: left;
  font-size: 22px;
  font-weight: 500;
}

.appWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.nextButton {
  align-self: end;
}
