@use '../global.module.scss';

.cardContent {
  padding: 30px 0px 0px 0px;
  width: 100%;
}

.title {
  width: 100%;
  padding: 0px 50px;
  text-align: left;
  font-weight: 450;
  font-size: 23px;
}

.scrollRegion {
  max-height: 570px;
}

.buttons {
  padding: 35px 50px 30px 50px;
  gap: 10px;
}

.confirmButton {
  flex-grow: 1;
  font-size: 16px;
}
