.container {
  padding: 0px 40px;
}

.defiCardContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid #c2d7df;
  border-radius: 22px;
  font-size: 13px;
  line-height: 19px;
  font-weight: 450;

  .item {
    display: flex;
    padding: 0px 50px;
    height: 60px;
    align-items: center;

    .key {
      text-align: left;
      flex-grow: 1;
    }

    .value {
      text-align: right;
      flex-grow: 1;
    }
  }

  .item:not(:last-child) {
    border-bottom: 1px solid #c2d7df;
  }
}
