.table {
  width: 100%;

  tr:nth-child(even) {
    background: #f7fbfc;
  }

  tr:nth-child(odd) {
    background: #fff;
  }

  td {
    height: 58px;
    vertical-align: middle;
    font-size: 16px;
    line-height: 19px;

    &.highlightTableCell {
      font-weight: 450;
    }

    .assetValueItem {
      width: 100%;
    }
  }

  td:nth-child(odd) {
    text-align: left;
    padding-left: 50px;
  }

  td:nth-child(even) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: right;
    padding-right: 50px;
  }
}
