.table {
  width: 100%;

  tr:nth-child(even) {
    background: #f7fbfc;
  }

  tr:nth-child(odd) {
    background: #fff;
  }

  td {
    height: 58px;
    vertical-align: middle;
    font-size: 16px;

    &.highlightTableCell {
      font-size: 23px;
      font-weight: 500;
    }
  }

  td:nth-child(odd) {
    text-align: left;
    padding-left: 50px;
  }

  td:nth-child(even) {
    text-align: right;
    padding-right: 50px;
  }
}
