.appHeader {
  position: absolute;
  top: 50px;
  left: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;

  .appLogo {
    width: 40px;
  }

  .appName {
    padding-top: 10px;
    font-size: 30px;
    line-height: 33px;
  }
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    180deg,
    rgba(240, 248, 250, 0.6),
    rgba(210, 192, 207, 0.6) 67.71%,
    rgba(149, 164, 239, 0.6)
  );
}
