.app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(180deg, rgba(240, 248, 250, .6), rgba(210, 192, 207, .6) 67.71%, rgba(149, 164, 239, .6));
    ;
}