@use '../global.module.scss';

.appWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.cardContent {
  padding: 40px 50px;
}

.header {
  margin-top: 10px;
  margin-bottom: 35px;
  padding: 0px;
  font-size: 23px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: start;
}

.link {
  margin-right: auto;
}

.fields {
  width: 100%;
  .fieldContainer {
    margin: 0px;
  }
}

.logo {
  width: 75px;
}

.unlockButton {
  width: 100%;
}
