@font-face {
    font-family: Sohne;
    font-style: normal;
    font-weight: 400;
    src: url(./soehne-web-leicht.woff2);
}

@font-face {
    font-family: Sohne;
    font-style: normal;
    font-weight: 450;
    src: url(./soehne-web-buch.woff2);
}

@font-face {
    font-family: Sohne;
    font-style: normal;
    font-weight: 500;
    src: url(./soehne-web-kraftig.woff2);
}

@font-face {
    font-family: Sohne;
    font-style: normal;
    font-weight: 600;
    src: url(./soehne-web-halbfett.woff2);
}

@font-face {
    font-family: Sohne;
    font-style: italic;
    font-weight: 400;
    src: url(./soehne-leicht-kursiv.ttf);
}

@font-face {
    font-family: Sohne;
    font-style: italic;
    font-weight: 500;
    src: url(./soehne-web-halbfett-kursiv.woff2);
}

@font-face {
    font-family: "Sohne Mono";
    font-style: normal;
    font-weight: 400;
    src: url(./soehne-mono-leicht.woff);
}

@font-face {
    font-family: "Sohne Mono";
    font-style: normal;
    font-weight: 450;
    src: url(./soehne-mono-buch.woff);
}

@font-face {
    font-family: "Sohne Mono";
    font-style: normal;
    font-weight: 500;
    src: url(./soehne-mono-halbfett.ttf);
}