@use '../global.module.scss';

.card {
  width: 530px;
}

.cardContent {
  padding: 55px 42px;
  gap: 30px;
}

.header {
  padding: 0px;
  font-size: 30px;
  font-weight: 300;
  line-height: 38px;
}

.subtitle {
  font-size: 15px;
  width: 100%;
  line-height: 22px;
  text-align: center;
  min-height: 65px;
}
